{{#each this}}
  <li class='card__item' data-id='{{id}}'>
    <article class='card'>
      <div class='thumb'>
        <img class='card__img' src='{{poster_path}}' alt='{{title}}' />
      </div>
      <div class='card__content'>
        <h2 class='card__name'>{{title}}</h2>
        <div class='card__description'>
          <p class='card__genres'>{{genre_names}}</p>
          <p class='card__year'>{{year}}</p>
          <p class='card__rating'>{{vote_average}}</p></div>
      </div>
    </article>
  </li>
{{/each}}