{{#each this}}

<li class="card-item">
    <article class="card">
        <img 
        src='https://image.tmdb.org/t/p/w500{{poster_path}}' 
     alt='{{name}}'   
    />
    <div class="card_content">
        <h2 class="card_name">{{title}}</h2>
        <p class='card_info'> {{#each this.genres}} </p>
        <p class="card_year">{{year}}</p>
        <p class='card_info'>{{vote_average}}</p>
    </div>
</article>
</li>
{{/each}}
