{{#each this}}
  <li class='card__item'>
    <article class='card'>
      <img class='card__img' src='{{poster_path}}' alt='{{title}}' />
      <div class='card__content'>
        <h2 class='card__name'>{{title}}</h2>
        <p class='card__genres'>{{genre_names}}</p>
        <p class='card__year'>{{year}}</p>
        <p class='card__info'>{{vote_average}}</p>
      </div>
    </article>
  </li>
{{/each}}